.hidden {
	display: none;
}
div.alertWindow {
	width: 415px;
	margin-top: -125px;
	top: 50%;
	left: 50%;
	background-color: #FFF;
	position: fixed;
	z-index: 9999;
	box-shadow: 0px 0px 5px 1px #000;
	padding: 20px 10px;
}

div.alertWindow h3 {
	font-size: 20px;
    font-weight: 500 !important;
    color: #7A7D81;
	display: block;
	text-align: center;
}

div.alertWindow h3 i {
	margin-left: -20px;
	padding-right: 10px;
	color: #7A7D81;
}

div.alertWindow p {
	color: #7A7D81;
	font-size: 14px;
	text-align: center;
	max-width: 302px;
	margin: 0 auto;
	margin-bottom: 10px;
}

div.alertWindow input.alertWindowOk {
	text-align: center;
	margin: 20px auto;
	display: block;
	padding: auto;;
}

div.alertWindow input.alertWindowCancel {
	text-align: center;
	margin: 20px auto 20px auto;
	display: block;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100% !important;
	background-color: #FFF;
	opacity: 0.6;
	z-index: 9999;
	top: 0;
	left: 0;
}
ul.autocomplete.history {
	display: none;
}
.mh-50 {
  max-height: 50vh;
  height: 50vh;
}
.chat-container {
	overflow: hidden;
	overflow-y: scroll;
}
div.my_message div.chat-message {
	background-color: #ebebeb;
	color: #000;
}
.chat-message {
	border-radius: 5px;
	padding: 5px;
	background-color: #007bff;
	color: #FFF;
}